/* Cartel de estilo similar al de la imagen */
body{
    background-color: #FFFFFF;
}
.cartel {
    background-image: url('/mnt/data/elegi_lujan_0.png'); /* Ruta a la imagen */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 17px 0;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

h1 {
    margin: 0;
    color: #41477F; /* Similar al color rosa del logo */
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000;
}

#map{
    height: 85vh;
    width: 100%;
}